@page "/employeeList"
@inject HttpClient httpClient
@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager

<h3>Employees </h3>

<input @bind=NewItemText placeholder="New item ..." />
<button class="btn  btn-primary" @onclick="AddItem">Add</button>

@if (isLoading) {
	<p>Loading ... </p>
}
else {
	<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Surname</th>
			<td>EmployeeType</td>
			<th>Monthly sallary</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach(var emp in employees) {
			<tr>
				<td>@emp.Name</td>
				<td>@emp.Surname</td>
				<td>@emp.EmployeeType</td>
				<td>@emp.SallaryPerMonth</td>
				<td>Transactions</td>
				<button class="btn btn-primary" @onclick="() => EditItem(emp)">Edit</button>
				<button class="btn btn-danger" @onclick="() => DeleteItem(emp)">Delete</button>
			</tr>
		}
	</tbody>
</table>
}

@code {

}

