@page "/employeelist/edit/{Id:int?}"
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<h3>EmployeeEdit</h3>

@if (EmployeeItem == null)
{
    <p>Loading ...</p>
}
else
{
    <div class="row">
            <div class="col-md-6">
            <label class="form-label">Name</label>
            <input class="form-control" @bind="@EmployeeItem.Name" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Surname</label>
            <input class="form-control" @bind="@EmployeeItem.Surname" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Employee Type</label>
            <input class="form-control" @bind="@EmployeeItem.EmployeeType" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Monthly Salary</label>
            <input class="form-control" @bind="@EmployeeItem.SallaryPerMonth" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Transactions</label>
            
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-success" @onclick="OnSave">Save</button>
            <button class="btn btn-danger" @onclick="OnCancel">Cancel</button>
        </div>
    </div>
}
@code {
    [Parameter] public int? ID { get; set; }
    EmployeeEditViewModel EmployeeItem { get; set; }

     protected override async Task OnInitializedAsync()
    {
        EmployeeItem = await httpClient.GetFromJsonAsync<EmployeeEditViewModel>($"employee/{(ID == null ? 0 : ID)}");
    }

     protected async Task OnSave()
    {
        HttpResponseMessage response;
        if (ID == null)
        {
            response = await httpClient.PostAsJsonAsync("employee", EmployeeItem);
        }
        else
        {
            response = await httpClient.PutAsJsonAsync("employee", EmployeeItem);
        }
        response.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("employeelist");
    }

    protected void OnCancel()
    {
        navigationManager.NavigateTo("employeelist");
    }

}
