@page "/petfoodlist/edit/{Id:int?}"
@using PetShop.Model
@inject HttpClient httpClient
@inject NavigationManager navigationManager


<h3>Pet Food Edit</h3>

@if (PetFoodItem == null)
{
    <p>Loading ...</p>
}
else
{
    <div class="row">
        <div class="col-md-6">
            <label for="petfood-type">Type</label>
            <select name="petfood-type" class="form-select" @bind="PetFoodType">
                <option value="-1">Select Pet Food Type</option>
                @foreach (var item in Enum.GetValues(typeof(AnimalType)))
                {
                    <option value="@((int)item)">@item.ToString()</option>
                }
            </select>
        </div>       
        <div class="col-md-6">
            <label class="form-label">Price</label>
            <input class="form-control" @bind="@PetFoodItem.Price" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Cost</label>
            <input class="form-control" @bind="@PetFoodItem.Cost" />
        </div>
     </div>
    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-success" @onclick="OnSave">Save</button>
            <button class="btn btn-danger" @onclick="OnCancel">Cancel</button>
        </div>
    </div>
}

@code {
    [Parameter] public int? ID { get; set; }
    PetFoodEditViewModel PetFoodItem { get; set; }
    private int PetFoodType { get; set; } = -1;

    protected override async Task OnInitializedAsync()
    {
        if(ID == null)
        {
            PetFoodItem = await httpClient.GetFromJsonAsync<PetFoodEditViewModel>($"petfood/{(ID == null ? 0 : ID)}");
        }
        if(ID != null)
        {
             PetFoodType = (int)PetFoodItem.AnimalType;
        }

    }

     protected async Task OnSave()
    {
         if (PetFoodType == -1 ||
            PetFoodItem.Price == 0 ||
            PetFoodItem.Cost == 0)
            return;
        HttpResponseMessage response;
        PetFoodItem.AnimalType = (AnimalType)PetFoodType;
        if (ID == null)
        {
            response = await httpClient.PostAsJsonAsync("petfood", PetFoodItem);
        }
        else
        {
            response = await httpClient.PutAsJsonAsync("petfood", PetFoodItem);
        }
        response.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("petfoodlist");
    }

    protected void OnCancel()
    {
        navigationManager.NavigateTo("petfoodlist");
    }
}
