@page "/transactionlist/edit/{Id:int?}"
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<h3>TransactionEdit</h3>

@if (TransactionItem == null)
{
    <p>Loading ...</p>
}
else
{
    <div class="row">
        <div class="col-md-6">
        <select class="form-select" aria-label="Default select example" @bind="newCustomerId">
                @foreach(var customer in TransactionItem.Customers )
                {
                    <option value="@customer.ID"> @customer.Name @customer.Surname</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
         <select class="form-select" aria-label="Default select example">
        <option selected>Select Employee</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        </select>
        </div>
    </div>
        
   

    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-success" @onclick="OnSave">Save</button>
            <button class="btn btn-danger" @onclick="OnCancel">Cancel</button>
        </div>
    </div>
}

@code {
    [Parameter] public int? Id { get; set; }
    TransactionEditViewModel TransactionItem { get; set; }
    private int newCustomerId { get; set; } 

    protected override async Task OnInitializedAsync()
    {
        TransactionItem = await httpClient.GetFromJsonAsync<TransactionEditViewModel>($"transaction/{(Id == null ? 0 : Id)}");
    }


    protected async Task OnSave()
    {
        HttpResponseMessage response;
        if (Id == null)
        {
            response = await httpClient.PostAsJsonAsync("transaction", TransactionItem);
        }
        else
        {
            response = await httpClient.PutAsJsonAsync("transaction", TransactionItem);
        }
        response.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("transactionlist");
    }

    protected void OnCancel()
    {
        navigationManager.NavigateTo("transactionlist");
    }

    protected void AddCustomer()
    {
     
            
    }


}
